@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><h1>Din Resa</h1></a>
            </div>
        </div>
    </div>

<div class="container body-content">
    <br/>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Ultimata Reseplaneraren </p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css" />
    @RenderSection("scripts", false)
</body>
</html>